# Ignore arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Ignore arquivos do Python
*.pyc
*.pyo
__pycache__/
*.env

# Ignore arquivos de log
*.log

# Ignore dados sensíveis e arquivos de persistência
data.json

# Ignore configurações específicas de IDEs
.vscode/
.idea/
*.swp

# Ignore ambientes virtuais
venv/
env/
